numpy
rich
pillow
scipy
tqdm
torch
pandas
torchvision
pytorch-lightning
efficientnet_pytorch
connected-components-3d==3.12.6
psutil
gputil
opencv-python
SimpleITK==2.0.2
pydicom
matplotlib
timm
torchinfo
monai==1.3.0
imageio
nibabel
wget
json2table
