-i https://download.pytorch.org/whl/cu113
numpy
rich
pillow
scipy
tqdm
torch==1.12.1
pandas
torchvision==0.13.1
pytorch-lightning==2.0.5
efficientnet_pytorch
connected-components-3d
psutil
gputil
opencv-python
SimpleITK==2.0.2
pydicom
matplotlib
timm
torchinfo
monai
imageio
nibabel
